/*
 *      Copyright (C) 1997-2004 Andrei Los.
 *      This file is part of the lSwitcher source package.
 *      lSwitcher is free software; you can redistribute it and/or modify
 *      it under the terms of the GNU General Public License as published
 *      by the Free Software Foundation, in version 2 as it comes in the
 *      "COPYING" file of the lSwitcher main distribution.
 *      This program is distributed in the hope that it will be useful,
 *      but WITHOUT ANY WARRANTY; without even the implied warranty of
 *      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *      GNU General Public License for more details.
 */

#include "lswitch.h"
#include "lswres.h"

ACCELTABLE  ID_ALTACCELTABLE
{
  SCAN_CLOSE, CMD_CLOSE, SCANCODE, LONEKEY, ALT
  SCAN_HIDE, CMD_HIDE, SCANCODE, LONEKEY, ALT
  SCAN_MAXIMIZE, CMD_MAXIMIZE, SCANCODE, LONEKEY, ALT
  SCAN_MINIMIZE, CMD_MINIMIZE, SCANCODE, LONEKEY, ALT
  SCAN_RESTORE, CMD_RESTORE, SCANCODE, LONEKEY, ALT
  SCAN_SHOW, CMD_SHOW, SCANCODE, LONEKEY, ALT
  SCAN_SPACE, CMD_CANCELPOPUP, SCANCODE, LONEKEY, ALT
  SCAN_FILTER, CMD_ADDFILTER, SCANCODE, LONEKEY, ALT
  SCAN_PRIORITY, CMD_PRIORITY, SCANCODE, LONEKEY, ALT
  VK_RIGHT, CMD_SCROLLRIGHT, VIRTUALKEY, ALT
  VK_LEFT, CMD_SCROLLLEFT, VIRTUALKEY, ALT
  VK_UP, CMD_SCROLLUP, VIRTUALKEY, ALT
  VK_DOWN, CMD_SCROLLDOWN, VIRTUALKEY, ALT
}

ACCELTABLE  ID_CTRLACCELTABLE
{
  SCAN_CLOSE, CMD_CLOSE, SCANCODE, LONEKEY, CONTROL
  SCAN_HIDE, CMD_HIDE, SCANCODE, LONEKEY, CONTROL
  SCAN_MAXIMIZE, CMD_MAXIMIZE, SCANCODE, LONEKEY, CONTROL
  SCAN_MINIMIZE, CMD_MINIMIZE, SCANCODE, LONEKEY, CONTROL
  SCAN_RESTORE, CMD_RESTORE, SCANCODE, LONEKEY, CONTROL
  SCAN_SHOW, CMD_SHOW, SCANCODE, LONEKEY, CONTROL
  SCAN_SPACE, CMD_CANCELPOPUP, SCANCODE, LONEKEY, CONTROL
  SCAN_FILTER, CMD_ADDFILTER, SCANCODE, LONEKEY, CONTROL
  SCAN_PRIORITY, CMD_PRIORITY, SCANCODE, LONEKEY, CONTROL
  VK_RIGHT, CMD_SCROLLRIGHT, VIRTUALKEY, CONTROL
  VK_LEFT, CMD_SCROLLLEFT, VIRTUALKEY, CONTROL
  VK_UP, CMD_SCROLLUP, VIRTUALKEY, CONTROL
  VK_DOWN, CMD_SCROLLDOWN, VIRTUALKEY, CONTROL
}

ACCELTABLE  ID_NOALTACCELTABLE
{
  SCAN_CLOSE, CMD_CLOSE, SCANCODE, LONEKEY
  SCAN_HIDE, CMD_HIDE, SCANCODE, LONEKEY
  SCAN_MAXIMIZE, CMD_MAXIMIZE, SCANCODE, LONEKEY
  SCAN_MINIMIZE, CMD_MINIMIZE, SCANCODE, LONEKEY
  SCAN_RESTORE, CMD_RESTORE, SCANCODE, LONEKEY
  SCAN_SHOW, CMD_SHOW, SCANCODE, LONEKEY
  SCAN_SPACE, CMD_CANCELPOPUP, SCANCODE, LONEKEY
  SCAN_FILTER, CMD_ADDFILTER, SCANCODE, LONEKEY
  SCAN_PRIORITY, CMD_PRIORITY, SCANCODE, LONEKEY
  VK_RIGHT, CMD_SCROLLRIGHT, VIRTUALKEY
  VK_LEFT, CMD_SCROLLLEFT, VIRTUALKEY
  VK_UP, CMD_SCROLLUP, VIRTUALKEY
  VK_DOWN, CMD_SCROLLDOWN, VIRTUALKEY
  VK_ESC, CMD_CANCELPOPUP, VIRTUALKEY
  VK_TAB,CMD_SCROLLRIGHT, VIRTUALKEY
  VK_BACKTAB,CMD_SCROLLLEFT, VIRTUALKEY, SHIFT
}

#if LANGUAGE==EN
  rcinclude prmdlgen.dlg
  rcinclude stren.rc
#elif LANGUAGE==CZ
  rcinclude prmdlgcz.dlg
  rcinclude strcz.rc
#elif LANGUAGE==ES
  rcinclude prmdlges.dlg
  rcinclude stres.rc
#elif LANGUAGE==IT
  rcinclude prmdlgit.dlg
  rcinclude strit.rc
#elif LANGUAGE==RU
  rcinclude prmdlgru.dlg
  rcinclude strru.rc
#elif LANGUAGE==DE
  rcinclude prmdlgde.dlg
  rcinclude strde.rc
#elif LANGUAGE==JP
  rcinclude prmdlgjp.dlg
  rcinclude strjp.rc
#endif
