/*
 *      Copyright (C) 1997-2004 Andrei Los.
 *      This file is part of the lSwitcher source package.
 *      lSwitcher is free software; you can redistribute it and/or modify
 *      it under the terms of the GNU General Public License as published
 *      by the Free Software Foundation, in version 2 as it comes in the
 *      "COPYING" file of the lSwitcher main distribution.
 *      This program is distributed in the hope that it will be useful,
 *      but WITHOUT ANY WARRANTY; without even the implied warranty of
 *      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *      GNU General Public License for more details.
 */

#include "lswres.h"

STRINGTABLE LOADONCALL MOVEABLE DISCARDABLE
{
  STRID_HINTS "Arrows:move selection  Space:cancel"
  STRID_SWITCH "Switch to"
  STRID_CLOSE "~Close "
  STRID_HIDE "~Hide"
  STRID_MINIMIZE "Mi~nimize"
  STRID_RESTORE "~Restore"
  STRID_SHOW "~Show"
  STRID_MAXIMIZE "Ma~ximize"
  STRID_MOVE "~Move"
  STRID_RUN "~Run..."
  STRID_KILL "DosKillProcess"
  STRID_DEATH "SIGKILL"
  STRID_PRIORITY "~Priority..."
  STRID_SHOWSETTINGS "~lSwitcher settings..."
  STRID_QUIT "~Quit"
  STRID_XCENTERSUBMENU "lSwitcher widget"
  STRID_ADDFILTER "Add ~filter"
  STRID_SUSPEND "Suspend system"
}

STRINGTABLE LOADONCALL MOVEABLE DISCARDABLE
{
  MSG_LOADED   "Already loaded"
  MSG_ERROR    "error"
  MSG_CANTSAVE "Could not save settings to the file %s"
  MSG_CANTOPEN "Could not open settings file %s"
  MSG_WRONGVER "Settings record in the file %s corresponds to a different version of the program and cannot be used. Do you want to delete this record?" 
  MSG_CANTFINDOPEN "Could not find or open " 
  MSG_CANTEXECUTE "Could not execute "
  MSG_CANTKILL "Cannot kill a WPS process"
  MSG_KILLQUERY "Are you sure you want to kill process"
  MSG_CANCEL "Cancel"
  MSG_FOLDERS "Folders"
}

